.adminlogintop .adminlogin {
    background: url("../Image/adminlogin\ background.jpg") no-repeat center center
      fixed;
    background-size: cover;
    height: 100vh;
  }
  .adminlogintop .contentAdmin {
      background-color: #fff;
   width: 35%;
   border-radius: 15px;
    position: absolute;
    left: 52%;
    top: 12%;
  }
  .flexbox input{
      width: 437px;
      height: 52px;
      border-radius: 10px;
      background-color: rgba(241, 241, 241, 1);
      padding-left: 20px;
      padding-top: 16px;
      border: none;
      padding-bottom: 16px;
      font-family: 'Inter', sans-serif;
      font-weight: 400;
      }
      .adminlogintop .flexboxA{
          display: flex;
          flex-direction: column;  
          margin-top: 15px;
          width: 85%;
          justify-content: space-between;
          
      }
      .adminlogintop .flexboxA h5{
          margin-right: 70px;
          text-align: left;
          font-size: 15px;
          padding-top: 13px;
          font-family: 'Inter', sans-serif;
      font-weight: 400;
      }
      .adminlogintop  .flexboxA input{
      width: 100%;
      height: 52px;
      border-radius: 10px;
      background-color: rgba(241, 241, 241, 1);
      border: none;
      font-family: 'Inter', sans-serif;
      font-weight: 400;
      }
      .adminlogintop   #buttonSubmit{
          width: 80%;
          height: 52px;
          border-radius: 10px;
          background-color: #3689EB ;
          margin-top: 20px;   
          margin-bottom: 50px;
      }