.headertop{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* width: 68%; */
    /* margin-left: 29%; */
    margin-right: 5%;

    height: 5rem;
    border-bottom: 2px solid #E3F0FF;
    margin-bottom: 23px;
    flex-direction: row;
}
.btn-2{
    background-color: #FF5F5F;
    color: #fff;
}